@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600&display=swap');
/* Color Palette */
:root {
  --blue: #26547C;
  --red: #EF476F;
  --yellow: #FFD166;
  --green: #06D6A0;
  --white: #FCFCFC;

}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* navbar */

body {
  font-family: 'Edu SA Beginner', cursive;
  font-weight: 500;
}

nav{
  background: var(--red);
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover{
  color: var(--yellow);
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/* Homepage Sections */
.sect1 {
  background-color: var(--green);
  width: 50%;
  float: left;
}

.sect2 {
  background-color: var(--blue);
  width:50%;
  float: left;
}

/* Screensize Adaptations */
@media (max-width: 952px){
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--blue);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover, a.active{
    background: none;
    color: var(--yellow);
  }
  #check:checked ~ ul {
    left: 0;
  }
}